<div class="container mt-5">
    <div class="row mx-1" *ngIf="user">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img *ngIf="user!.profilePicture" [src]="uploadUrl" class="rounded-circle" width="100">
            <img *ngIf="user!.profilePicture == null" src="assets/profile.jpg" class="rounded-circle" width="100">
            <div class="mt-3">
              <h5>{{ user!.firstName }} {{user!.lastName }}, {{ user!.age }}, {{selectedGender}}</h5>
              <p class="text-secondary mb-1">{{user.role}}</p>
              <p class="text-muted font-size-sm">{{user.emailAddress}}</p>
              <p class="text-muted font-size-sm"> Reporting To:</p> 
                <span class="btn btn-outline-info btn-sm mx-1" *ngFor="let manager of selectedUsers">{{ manager.firstName }} {{ manager.lastName }}</span>
                <div *ngIf="selectedUsers?.length == 0" class="alert alert-info" role="alert"> No Managers assinged</div>
                <p class="text-muted font-size-sm">{{user.address}}</p> 
            </div>
          </div>
        </div>
      </div>
        <div class="card mt-3">
          <div class="card-body">
            <p class="mb-4">
              <span class="text-primary font-italic me-1">Assigned Projects</span> 
            </p>
            <span *ngFor="let project of selectedProjects">
              <p class="mb-1" style="font-size: .77rem;">{{ project.name }}</p>
              <div class="progress rounded" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </span>
            <div *ngIf="selectedProjects?.length == 0" class="alert alert-info" role="alert"> No Project was assigned</div>
          </div>
        </div>
    </div>
    <div class="row mx-1" *ngIf="!user">
      <div class="alert alert-info" role="alert"> Profile not found</div> 
    </div>
</div>