<div class="container">
  <h1>Administration</h1>
  <button class="btn btn-primary" routerLink="/create-edit">Create</button>
  <div class="table">
  <table class="table table-xs-responsive">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.role }}</td>
        <td>
          <div class="btn-group" data-bs-toggle="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete or Update
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" (click)="deleteUser(user)">Delete</a>
              <a class="dropdown-item" href="#" routerLink="/create-edit/{{user.id}}">Update</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>