
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{title}}</a>

    <div class="navbar-collapse collapse show" id="ftco-nav" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isSignedIn">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li *ngIf="isSignedIn"class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="isSignedIn && IsManager()" class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li *ngIf="isSignedIn && IsManager()" class="nav-item">
          <a class="nav-link" routerLink="/roles">Roles</a>
        </li>
        <li *ngIf="isSignedIn" class="nav-item">
          <a class="nav-link" (click)="logout()">Signout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>